$gutter: 0.3em;

.rating {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.rating__gradient {
  position: absolute;
  left: -9999px;
}

.rating__star {
  width: 1em;
  height: 1em;
  margin-left: $gutter;
  margin-right: $gutter;
}
