.breadcrumbs {
	@include reset-list;
	display: flex;
	overflow: auto;
	margin-bottom: .5rem;
	font-size: 14px;
	white-space: nowrap;
}

.breadcrumbs__item {
	a {
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
	}

	& + &::before {
		content: ">";
		@include margin-horizontal(.5em);
	}
}
