.input {
  padding: .5em 1em;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  width: 100%;
  appearance: none;

  &::placeholder {
    transition: all .2s;
  }

  &:focus {
    outline: 0;

    &::placeholder {
      color: transparent;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    //-webkit-text-fill-color: #fff !important;
  }
}

.input--error {
  border-color: $color-error;
}

.input--success {
  border-color: $color-success;
}
