.input {
	padding: .5em 1em;
	border-radius: 0;
	width: 100%;
	appearance: none;
	transition: border-color .3s;

	&::placeholder {

	}

	&:focus {
		outline: 0;

		&::placeholder {
			color: transparent;
		}
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
		//-webkit-text-fill-color: #fff !important;
	}
}
