$date-gutter: .2em;

.date {
  display: flex;
  font-size: 12px;
  letter-spacing: .04em;
  margin-left: -$date-gutter;
  margin-right: -$date-gutter;
}

.date__day {
  margin-left: $date-gutter;
  margin-right: $date-gutter;
}

.date__time {
  margin-left: $date-gutter;
  margin-right: $date-gutter;
}
