$date-gutter: .2em;

.date {
  @include margin-horizontal(-$date-gutter);
  display: flex;
  font-size: 12px;
  letter-spacing: .04em;
}

.date__day {
  @include margin-horizontal($date-gutter);
}

.date__time {
  @include margin-horizontal($date-gutter);
}
