@mixin reset-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin reset-button {
	padding: 0;
	margin: 0;
	line-height: 1;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

@mixin padding-horizontal($value) {
	padding-right: $value;
	padding-left: $value;
}

@mixin padding-vertical($value) {
	padding-top: $value;
	padding-bottom: $value;
}

@mixin margin-horizontal($value) {
	margin-right: $value;
	margin-left: $value;
}

@mixin margin-vertical($value) {
	margin-top: $value;
	margin-bottom: $value;
}
